<div class="container-fluid">
  	<div class="row content" style="height: 800px;">
    	<div class="col-sm-3 " style="padding: 0;background: #99CCFF; height: 100%; "></div>

        <div class="col-sm-6" style = "height: 100%;">
      	    <h4><small>Username > Thông tin tài khoản</small></h4>
            <hr>
			<div class="well">
                <label class="label label-primary" style="font-size:15px;font-weight: bold;" >Thêm chuyên mục</label>
                
				<form method="POST" style="margin-top:15px;">
                    <div class="form-group">
                        <label for="txtCatName">Thông tin tài khoản</label>
                        <input type="text" class="form-control" id="txtCatName" name="Name" autofocus placeholder="Vui lòng nhập tên chuyên mục">
                    </div>
                    <a class="btn btn-primary" href="/admin/categories" role="button">
                        <i class = "fa fa-backward" aria-hidden="true"></i>
                        Xem danh sách
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Lưu
                    </button>
                </form>
			</div>
			
        </div>

		<div class="col-sm-3"  style="padding: 0;background: #99CCFF;height: 100%;"></div>
	</div>
</div>