<div class="container-fluid">
  	<div class="row content" style="height: 800px;">
    	<div class="col-sm-3 " style="padding: 0;background: #99CCFF; height: 100%; "></div>

        <div class="col-sm-6" style = "height: 100%;">
      	    <h4><small>Username > Xem danh sách chuyên mục > Thay đổi thông tin chuyên mục </small></h4>
            <hr>
			<div class="well">
                <label class="label label-primary" style="font-size:15px;font-weight: bold;" >Thay đổi thông tin chuyên mục</label>
                {{#if this.error}}
                <div class="alert alert-danger" role = "alert" style="margin-top:15px;">
                    Chuyên mục không hợp lệ. <a href="/admin/categories" class="alert-link">Trở lại</a>
                </div>
                {{else}}
                <form method="POST" style="margin-top:15px;" action = "/admin/categories/update">
                    <div class="form-group">
                        <label for="txtCatID">ID</label>
                        <input readonly type="text" class="form-control" id="txtCatID" name="ID" autofocus value="{{this.categories.ID}}">
                    </div>
                    <div class="form-group">
                        <label for="txtCatName">Tên chuyên mục</label>
                        <input type="text" class="form-control" id="txtCatName" name="Name" autofocus placeholder="Vui lòng nhập tên chuyên mục" value="{{this.categories.Name}}">
                    </div>
                    <a class="btn btn-primary" href="/admin/categories" role="button">
                        <i class = "fa fa-backward" aria-hidden="true"></i>
                        Xem danh sách
                    </a>
                    <button type="submit" class="btn btn-danger" formaction="/admin/categories/delete">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Xoá chuyên mục
                    </button>
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Lưu
                    </button>
                </form>
                {{/if}}      
			</div>	
        </div>
		<div class="col-sm-3"  style="padding: 0;background: #99CCFF;height: 100%;"></div>
	</div>
</div>