{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    function validate_old_password(){
        old_password = $("#old_password").val();
        let data_return = false;
        $.ajax({
            async: false,
            type: "GET",
            url: "../validate_password/" + "{{this.userLogin.f_ID}}" + "&" + old_password,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                console.log(data);
                if(data.isValid){
                    data_return = true;
                }
                else{
                    alert("Mật hẩu bạn nhập vào không đúng!");
                }
            }
        });
        console.log(data_return);
        return data_return;
    }
    $(function(){
        $('#changePasswordForm').validate({
            rules:{
                old_password:{
                    required: true,
                    minlength: 6,
                },
                password:{
                    required: true,
                    minlength: 6
                },
                confirm: {
                    required: true,
                    equalTo: $('[name = "password"]')
                },
                
            },
            messages:{
                 old_password:{
                    required: 'Vui lòng nhập mật khẩu cũ.',
                    minlength: 'Mật khẩu phải có ít nhất 6 kí tự.',
                    equalsTo: 'Bạn đã nhập sai mật khẩu cũ.'
                },
                password:{
                    required: 'Vui lòng nhập mật khẩu mới.',
                    minlength: 'Mật khẩu phải có ít nhất 6 kí tự.',
                    equals: 'Bạn đã nhập sai mật khẩu cũ.'
                },
                confirm:{
                    required: 'Vui lòng xác nhận mật khẩu.',
                    equalTo: 'Mật khẩu bạn xác nhận không trùng khớp.'
                },
            },
            errorElement: 'small',
            errorClass: 'help-block my-text-danger',
            highlight: function(e) {
                $(e).removeClass('is-valid').addClass('my-is-invalid');
            },
            unhighlight: function(e) {
                $(e).removeClass('my-is-invalid').addClass('is-valid');
            },
        })
    })
</script>
{{/section}}
<div class="container-fluid">
  	<div class="row content" style="height: 800px;">
    	<div class="col-sm-3 " style="padding: 0;background: #99CCFF; height: 100%; "></div>

        <div class="col-sm-6" style = "height: 100%;">
      	    <h4><small>Username > Xem danh sách chuyên mục > Thêm chuyên mục </small></h4>
            <hr>
			<div class="well">
                <label class="label label-primary" style="font-size:15px;font-weight: bold;" >Đổi mật khẩu</label>
                
				<form novalidate action="" method="POST" id="changePasswordForm" style="margin-top: 15px;" onsubmit="return validate_old_password()">
                    <div class="form-group">
                        <label for='old_password' >Mật khẩu cũ:</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Xác nhận mật khẩu mới cũ">
                    </div>
                    <div class="form-group">
                        <label for='password' >Mật khẩu mới:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu mới">
                    </div>
                    <div class="form-group">
                        <label for='confirm' >Xác nhận mật khẩu mới:</label>
                        <input type="password" id="confirm" class="form-control"  name="confirm" placeholder="Xác nhận mật khẩu mới">
                    </div>
                    <a class="btn btn-primary" href="/" role="button">
                        <i class = "fa fa-backward" aria-hidden="true"></i>
                        Quay trở lại
                    </a>
                    <button type="submit" class="btn btn-success" >
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Lưu
                    </button>
            </form>
			</div>
			
        </div>

		<div class="col-sm-3"  style="padding: 0;background: #99CCFF;height: 100%;"></div>
	</div>
</div>