<!DOCTYPE html>
<html lang="en">
<head>
	<title>Báo Điện Tử TH16-News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div style="position: fixed; width: 100%;height: auto; z-index: 1;" >
			<nav class="navbar navbar-inverse my_nav" style= "margin:0px;">
					<div class="container-fluid" >
						<div class="navbar-header" >
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
							<a class="navbar-brand" href="/"><img src="logo_01.png" alt="logo_01.png" style="width:100%; height: 150%;"></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar" >
							<ul class="nav navbar-nav">
								<li><a href="/" style="color: white;">Trang chủ</a></li>
								<li><a href="/template/kinhte/chung.html" style="color: white;">Chuyên mục</a>
									<ul style="z-index: 2;">
										<li><a href="/template/kinhte/chung.html" >Kinh tế</a>
											<ul>
												<li><a href="/template/kinhte/chung_nong_nghiep.html">Nông nghiệp</a></li>
													<li><a href="/template/kinhte/chung_hai_san.html">Hải sản</a></li>
													<li><a href="/template/kinhte/chung_cong_nghiep.html">Công nghiệp</a></li>                 
											</ul>
										</li>
										<li><a href="/template/vanhoa/chung.html">Văn hoá</a>
											<ul>
												<li><a href="/template/vanhoa/chung_doisong.html">Đời sống</a></li>
												<li><a href="/template/vanhoa/chung_anuong.html">Ăn uống</a></li>
												<li><a href="/template/vanhoa/chung_lehoi.html">Lễ hội</a></li>
												<li><a href="/template/vanhoa/chung_moitruong.html">Môi trường</a></li>
											</ul>
											</li>
									
											<li><a href="/template/dulich/chung.html">Du lịch</a>
											<ul>
												<li><a href="/template/dulich/chung_trongnuoc.html">Trong nước</a></li>
												<li><a href="/template/dulich/chung_ngoainuoc.html">Ngoài nước</a></li>
											</ul>
											</li>
										
											<li><a href="/template/giaitri/chung.html">Giải trí</a>
											<ul>
												<li><a href="/template/giaitri/chung_dienanh.html">Điện ảnh</a></li>
												<li><a href="/template/giaitri/chung_amnhac.html">Âm nhạc</a></li>
												<li><a href="/template/giaitri/chung_thethao.html">Thể thao</a></li>
												<li><a href="/template/giaitri/chung_trochoidientu.html">Trò chơi điện tử</a></li>
											</ul>
											</li>
							
											<li><a href="/template/khac/chung.html">Khác</a></li>
									</ul>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
							</ul>
						</div>
					</div>
				</nav>
	</div>

<div class="container-fluid">
  	<div class="row content">
    	<div class="col-sm-3 sidenav" id="category" style="padding: 0;background: #99CCFF; height: 2500px; margin-top: 3%;">
			<ul style="position:fixed;">
				<li><span style="background: #DCDCDC; "><a style="color: black" href="/template/kinhte/chung.html" >Kinh tế</a></span>
					<ul>
						<li><a href="/template/kinhte/chung_nong_nghiep.html">Nông nghiệp</a></li>
						<li><a href="/template/kinhte/chung_hai_san.html">Hải sản</a></li>
						<li><a href="/template/kinhte/chung_cong_nghiep.html">Công nghiệp</a></li>                 
					</ul>
				</li>

				<li><span><a href="/template/vanhoa/chung.html">Văn hoá</a></span>
					<ul>
						<li><a href="/template/vanhoa/chung_doisong.html">Đời sống</a></li>
						<li><a href="/template/vanhoa/chung_anuong.html">Ăn uống</a></li>
						<li><a href="/template/vanhoa/chung_lehoi.html">Lễ hội</a></li>
						<li><a href="/template/vanhoa/chung_moitruong.html">Môi trường</a></li>
					</ul>
				</li>
		
				<li><span><a href="/template/dulich/chung.html">Du lịch</a></span>
					<ul>
						<li><a href="/template/dulich/chung_trongnuoc.html">Trong nước</a></li>
						<li><a href="/template/dulich/chung_ngoainuoc.html">Ngoài nước</a></li>
					</ul>
				</li>
		
				<li><span><a href="template/giaitri/chung.html">Giải trí</a></span>
					<ul>
						<li><a href="/template/giaitri/chung_dienanh.html">Điện ảnh</a></li>
						<li><a href="/template/giaitri/chung_amnhac.html">Âm nhạc</a></li>
						<li><a href="/template/giaitri/chung_thethao.html">Thể thao</a></li>
						<li><a href="/template/giaitri/chung_trochoidientu.html">Trò chơi điện tử</a></li>
					</ul>
				</li>
		
				<li><span><a href="/template/khac/chung.html">Khác</a></span></li>
			</ul>
    	</div>

    <div class="col-sm-6" style = "margin-left:15px; margin-top: 3%">
      	<h4><small>Trang chủ > Chuyên mục > Kinh tế </small></h4>
      	<hr>
			<div class = "row" style = "margin: 2%">
				<a href ="/data/bai_bao_id_5">
					<img src="10-chot-1552226412310964579765.jpg" class="img-responsive" style="width:100%; height: 400px;" alt="Image">
				</a>
				<label style="font-size:30px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_5" style="color: black;">Phải có cà phê đặc sản!</a></label>
				<br>
				<label style="font-size:9px;font-weight:bold;">11/03/2019 - 07:32 AM | Kinh tế - Nông nghiệp</label>
			</div>
			<hr>

			<div class = "row" style = "margin-left: 2%">
				<div class="col-sm-4">
					<a href ="/data/bai_bao_id_6">
						<img src="Viet_Nam_nhap_sieu_dac_san_co_canh_chan_ga.jpg" class="img-responsive" style="width:100%" alt="Image">
					</a>
					<label style="font-size:20px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_6" style="color: black;">Việt Nam nhập siêu 'đặc sản'... cổ, cánh, chân gà</a></label>
					<br>
					<label style="font-size:9px;font-weight:bold;">15/04/2019 - 20:54 PM | Kinh tế - Nông nghiệp</label>
				</div>

				<div class="col-sm-4">
					<a href="/data/bai_bao_id_7">
						<img src="ca_tang_noi_an_toan.jpg" class="img-responsive" style="width:100%" alt="Image">
					</a>
					<label style="font-size:20px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_7" style="color: black;">Cá tầng nổi “an toàn”, người tiêu dùng vẫn “né tránh” hải sản</a></label>
					<br>
					<label style="font-size:9px;font-weight:bold;">25/09/2016 - 16:55 PM | Kinh tế - Hải sản</label>
				</div>

				<div class="col-sm-4">
					<a href="/data/bai_bao_id_8">
						<img src="3-chot-3-gia-lua-1550677465612863735864.jpg" class="img-responsive" style="width:100%" alt="Image">
					</a>
					<label style="font-size:20px;font-weight:bold; margin-top:5px; "><a href="/data/bai_bao_id_8" style="color: black;">Gỡ khó cho xuất khẩu gạo</a></label>
					<br>
					<label style="font-size:9px;font-weight:bold;">21/02/2019 - 07:55 AM | Kinh tế - Nông nghiệp</label>
				</div>
			</div>
			<hr>

			<div class = "row" style = "margin-left: 2%">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_9">
						<img src="trai-cay1-1545293091412481473302.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px;margin-top: 5px;"><a href="/data/bai_bao_id_9" style="color:black;">"Vua chuối" Võ Quan Huy than khó đưa hàng vào siêu thị Việt</a></label>
					<p style="font-size:13px;">(NLĐO) – Quy mô thị trường thực phẩm tươi sống như rau củ quả, thịt cá,… của Việt Nam mỗi năm ước tính có giá trị 27 tỉ USD và đang tiếp tục tăng trưởng...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">20/12/2018 - 15:41 PM | Kinh tế - Nông nghiệp</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_10">
						<img src="11-chot-15352906721252145019515.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_10" style="color:black; ">Trung Quốc ngày càng kén chọn nông sản</a></label>
					<p style="font-size:13px;">Trung Quốc tăng nhập khẩu nông sản nhưng đòi hỏi cao về chất lượng, truy xuất nguồn gốc...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">27/08/2018 - 07:01 AM | Kinh tế - Nông nghiệp</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_11">
						<img src="images2100329_HAISANNN.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_11" style="color:black; ">Nhộn nhịp thị trường hải sản</a></label>
					<p style="font-size:13px;">(Báo Quảng Ngãi)- Còn một tháng nữa là đến Tết Nguyên đán, nhu cầu tiêu dùng các loại hải sản đang tăng mạnh so với ngày thường. Thị trường hải sản vì thế cũng trở nên nhộn nhịp, sôi động hơn...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">24/01/2018 - 21:37 PM | Kinh tế - Hải sản</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_12">
						<img src="images2097768_1T17.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_12" style="color:black; ">Khai thác hải sản bằng "công nghệ cao"</a></label>
					<p style="font-size:13px;">(Báo Quảng Ngãi)- Trong năm 2017, nhiều ngư dân trong tỉnh đóng mới tàu cá công suất lớn, ứng dụng các thiết bị công nghệ cao trong khai thác hải sản. Tàu cá hiện đại đã giúp ngư dân dễ dàng chinh phục những ngư trường rộng lớn, mang lại hiệu quả kinh tế cao...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">05/01/2018 - 14:14 PM | Kinh tế - Hải sản</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_13">
						<img src="1-15301651319416684777.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_13" style="color:black; ">180 gian hàng tham gia Hội chợ Triển lãm Nông nghiệp quốc tế lần thứ 18</a></label>
					<p style="font-size:13px;">(NLĐO)- AgroViet là hoạt động xúc tiến thương mại nhằm thúc đẩy hoạt động xúc tiến thương mại, làm cầu nối giữa doanh nghiệp và người tiêu dùng...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">28/06/2018 - 12:58 PM | Kinh tế - Nông nghiệp</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_14">
						<img src="images2087463_KHAITACTRAIP.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_14" style="color:black; ">Nỗ lực ngăn chặn tàu cá khai thác hải sản trái phép</a></label>
					<p style="font-size:13px;">(Báo Quảng Ngãi)- Năm 2016 và nửa đầu năm 2017, tình hình tàu cá ở tỉnh ta ra vùng biển nước ngoài khai thác hải sản trái phép có chiều hướng gia tăng. Số lượng phương tiện, ngư dân bị nước ngoài bắt, xử lý tăng đột biến...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">20/12/2018 - 15:41 | Kinh tế - Hải sản</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_15">
						<img src="photo1555314771594-1555314772604-crop-1555314813383797236516.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="5" style="color:black; ">Muốn bán dưa hấu phải... dán tem có chữ Trung Quốc?</a></label>
					<p style="font-size:13px;">Nhiều tấn dưa hấu phải dán tem có chữ Trung Quốc mới được chất lên xe xuất bán...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">15/04/2019 - 19:55 PM | Kinh tế - Nông nghiệp</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_16">
						<img src="img20180621170052759-30576.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_16" style="color:black; ">Hải sản online – phong cách mới an toàn và tiện lợi</a></label>
					<p style="font-size:13px;">Ngồi ở nhà vẫn thưởng thức được nhiều hải sản vùng biển tươi ngon và thanh toán tiền trực tiếp. Vì vậy, dịch vụ giao hải sản tận nhà đang khiến nhiều người tiêu dùng phát sốt tin vào mức độ tươi sống – sạch – an toàn và chất lượng...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">22/06/2018 - 10:00 AM | Kinh tế - Hải sản</label>
				</div>
			</div>

			<div class = "row" style = "margin-left: 2%; margin-top: 10px;">
				<div class="col-sm-3">
					<a href="/data/bai_bao_id_7">
						<img src="cho-hai-san-2-1474776456973.jpg" class="img-responsive" style="width: 100%; height: 100%;" alt="Image">
					</a>
				</div>
				<div class="col-sm-9" style="height:150px;">
					<label style="font-size:15px; margin-top: 5px;"><a href="/data/bai_bao_id_7" style="color:black; ">Cá tầng nổi “an toàn”, người tiêu dùng vẫn “né tránh” hải sản</a></label>
					<p style="font-size:13px;">Gần một tuần sau kết luận của Bộ Y tế về độ an toàn của các loại hải sản, nhiều chợ đầu mối ở Quảng Trị đã bắt đầu bày bán trở lại sản phẩm đánh bắt từ biển, song người tiêu dùng vẫn còn “né tránh”, sức mua vẫn hạn chế...</p>
					<label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">25/09/2016 - 16:55 PM | Kinh tế - Hải sản</label>
				</div>
			</div>
			
			<div class="container">
				<ul class="pagination" style="margin-left: 50%;">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li><a href="/template/kinhte/chung.html" style="color:black;">1</a></li>
					<li><a href="/template/kinhte/chung_trang_2.html">2</a></li>
					<li><a href="/template/kinhte/chung_trang_3.html">3</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="col-sm-2" style="height: 2500px;">
			<div class="well" style="height: 420px; margin-top:10%; width:400px; position: fixed;">
				<label style="font-size: 15px; margin-top: 5%;">Follow us:</label>
				<div>
					<a href="https://www.facebook.com/groups/ptudw.th16.23/">
						<img src="facebook_logos_PNG19757.png" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
						<label style="font-size:15px; font-weight: bold;">Facebook
							<br>
							<span style="font-size: 15px; color:black; font-weight: bold;">5.5 k Likes</span>
						</label>
					</a>	
				</div>
				<br>
				<div>
					<a href="https://www.instagram.com/sad.rain1996">
						<img src="download.jpg" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
						<label style="font-size:15px; font-weight: bold;">Instagram
							<br>
							<span style="font-size: 15px; color:black; font-weight: bold;">10 k Followers</span>
						</label>
					</a>	
				</div>
				<br>
				<div>
					<img src="google_-512.png" class="img-responsive" style="width: 100px;height: 100px; margin-left: 5%; display: inline-block;" alt="Image">
					<label style="font-size:15px; font-weight: bold; color: #337AB7;">Email
						<br>
						<span style="font-size: 15px; color:black; font-weight: bold;">nthoang1996@gmail.com</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>


<footer class="container-fluid text-left" style="background-color:#4E65FF; height: 260px; padding-top: 30px; " >
	<div class="col-sm-2">
	</div>
	<div class="col-sm-3">
	  <div class="col-sm-6">
		  <img src="logo_02.jpg" class="img-responsive" style="width: 100%; float:right;" alt="Image">
	  </div>
	  <div class="col-sm-6">
		<label>Tên: Nguyễn Thái Hoàng</label>
		</br>
		<label>MSSV: 1412180</label>
		</br>
		<label>Lớp: PTUDW-TH16/2&3</label>
	  </div>
	</div>
	<div class="col-sm-3">
	  <img src="logo_truong.png" class="img-responsive" style="width: 100%; float:right;" alt="Image">
	</div>
	<div class="col-sm-3">
		<label>Ngành: Công nghệ thông tin</label>
		</br>
		<label>Khoa: Công nghệ thông tin</label>
		</br>
		<label>Trường : Đại học Khoa học Tự Nhiên-ĐHQG TP.HCM</label>
	  </div>
	<div class="col-sm-1">
	</div>
  </footer>

</body>
</html>
