<div class="container" style="margin-top: 20px;">
  <div class = "row">
    <label class="label label-default" style="font-size:15px;font-weight: bold;" >Các bài viết nổi bật</label>
  </div>
</br>
<div class="row">
  <div class="col-sm-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href = /data/bai_bao_id_1>
            <img src="_layouts/picture/le_hoi_dua_hau_quang_ngai.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>Đặc sắc Lễ hội dưa hấu lần đầu tiên ở Việt Nam</h3>
              <p>Lễ hội dưa hấu được tổ chức nhằm quảng bá, giới thiệu sản phẩm dưa hấu đến du khách trong và ngoài tỉnh...</p>
            </div>
          </a>      
        </div>

        <div class="item">
          <a href ="/data/bai_bao_id_2">
            <img src="_layouts/picture/binh_dinh_dua_vao_hai_san_de_di_len.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>Bình Định dựa vào biển để đi lên</h3>
              <p>Phó Thủ tướng Thường trực Trương Hòa Bình đánh giá Bình Định là địa phương có tiềm năng lớn để phát triển kinh tế biển thành ngành kinh tế mũi nhọn...</p>
            </div>
          </a>      
        </div>

        <div class="item">
          <a href ="/data/bai_bao_id_3">
            <img src="_layouts/picture/vi_sao_trung_quoc_giam_nhap_san_san_viet.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>Vì sao Trung Quốc giảm nhập sắn Việt?</h3>
              <p>Những tháng đầu năm nay, dù Trung Quốc chiếm thị phần lớn nhất trong xuất khẩu sắn của Việt Nam, song kim ngạch xuất khẩu sang thị trường này ghi nhận sụt giảm mạnh mẽ...</p>
            </div>      
          </a>
        </div>

        <div class="item">
          <a href ="/data/bai_bao_id_4">
            <img src="_layouts/picture/Hoa_Ky_cong_bo_thu_thue_chong_pha_gia_tom.jpg" alt="Image">
            <div class="carousel-caption">
              <h3>Hoa Kỳ công bố thuế chống bán phá giá tôm Việt Nam còn 0%</h3>
              <p>Rạng sáng nay, Bộ Thương mại Hoa Kỳ đã công bố 2 bị đơn bắt buộc và khoảng 30 bị đơn còn lại trong đợt xem xét thuế bán phá giá mới đối với tôm xuất khẩu từ Việt Nam về 0%...</p>
            </div> 
          </a>     
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-sm-4" >
    <div class="well" style="height: 375px;"> 
      <label style="margin-top:25%;display: block;">Tìm kiếm theo
        <select id="selected_box_search">
          <option selected>Tiêu đề</option>
          <option>Nội dung tóm tắt</option>
          <option>Nội dung đầy đủ</option>
      </select> </label>
      <input type="text" placeholder="Nhập dữ liệu cần tìm vào đây" class="form-control" style="margin-left: 10px;">
      <br>
      <div class="text-center">
          <input type="button" value="Tìm kiếm" onclick="msg()" class="btn-primary" style="margin-left: 10px; border-radius: 5px; height: 30px;">
      </div>
    </div>
  </div>
</div>
<hr>
</div>

<div class="container text-left">    
    <label class="label label-default" style="font-size:15px;font-weight: bold; margin-left: -15px;" >Chuyên mục nổi bật</label>
    <div class="row">
      <br>
      <div class="col-sm-3" style="padding: 5px;">
        <a href = "/data/bai_bao_id_23">
            <img src="_layouts/picture/176d5230045t38876l0.jpg" class="img-responsive" style="width:100%" alt="Image">
            <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: orange ">Văn hoá - Đời sống</span>
            <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Nghề chèo đò dọc sông Mã – vang bóng một thời</span>       
        </a>
      </div>
      <div class="col-sm-3" style="padding: 5px;">
          <a href = "/data/bai_bao_id_27">
              <img src="_layouts/picture/MU-doi-mat-khung-hoang-phong-do-Solskjaer-dan-mat-3-toi-do-mart-1555680206-750-width660height452.jpg" class="img-responsive" style="width:100%" alt="Image">
              <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: orange ">Giải trí - Thể thao</span>
              <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:burlywood; ">MU họp báo khẩn ngăn khủng hoảng: Solskjaer dằn mặt 3 “tội đồ”</span>
          </a>
      </div>

      <div class="col-sm-3" style="padding: 5px;">
        <a href = "/data/bai_bao_id_24">
          <img src="_layouts/picture/4b809_e3.jpg" class="img-responsive" style="width:100%" alt="Image">
          <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: orange ">Văn hoá - Đời sống</span>
          <span style="position: absolute;bottom: 20%;left: 20%; font-weight: bold; font-size: 20px; color:black; ">“Đời là ba chữ T”</span>
        </a>
      </div>  

      <div class="col-sm-3" style="padding: 5px;">
          <a href = "/data/bai_bao_id_25">
            <img src="_layouts/picture/dsc_0174-17_56_52_628.jpg" class="img-responsive" style="width:100%" alt="Image">
            <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: orange ">Văn hoá - Đời sống</span>
            <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Nâng cao chất lượng đội ngũ cán bộ, hội viên Hội Nhà báo Việt Nam</span>
          </a>
        </div>    
    </div>
  </div><br>
  
  <div class="container text-center">    
      <div class="row">
        <div class="col-sm-3" style="padding: 5px;">
          <a href = "/data/bai_bao_id_29">
              <img src="_layouts/picture/cang-hanh-khach-quoc-te-ha-long-1-15555998855062142620489.jpg" class="img-responsive" style="width:100%" alt="Image">
              <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: green ">Du lịch - Trong nước</span>
              <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Cảng tàu du lịch quốc tế Hạ Long tiến tới đón tiếp cả khách quốc tế và nội địa</span>
          </a>
        </div>
        <div class="col-sm-3" style="padding: 5px;">
            <a href = "/data/bai_bao_id_26">
                <img src="_layouts/picture/IMG1317JPG.jpg" class="img-responsive" style="width:100%" alt="Image">
                <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: green">Văn hoá - Lễ hội</span>
                <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Chương trình chi tiết các hoạt động trong Ngày văn hóa các dân tộc Việt Nam năm 2019</span>
            </a>
        </div>
  
        <div class="col-sm-3" style="padding: 5px;">
          <a href = "/data/bai_bao_id_28">
            <img src="_layouts/picture/ava-1.jpg" class="img-responsive" style="width:100%" alt="Image">
            <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: green">Giải trí - Âm nhạc</span>
            <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Sau lùm xùm, Lệ Quyên công khai mừng sinh nhật 'cô gái tháng 4' mà không hay biết… Đông Nhi sinh tháng 10</span>
          </a>
        </div>  
  
        <div class="col-sm-3" style="padding: 5px;">
            <a href = "/data/bai_bao_id_30">
              <img src="_layouts/picture/Toyota-Highlander-the-he-moi-voi-nhieu-1-1555497948-354-width660height371.jpg" class="img-responsive" style="width:100%" alt="Image">
              <span style="position: absolute;top:5px;left:5px; font-weight: bold; font-size: 15px; color:whitesmoke; background: green">Khác</span>
              <span style="position: absolute;bottom: 20%;left: 5%; font-weight: bold; font-size: 15px; color:whitesmoke; ">Toyota Highlander thế hệ mới với nhiều "sự đột phá" về thiết kế và động cơ</span>
            </a>
          </div>    
      </div>
      <hr>
    </div><br>


<div class="container text-left">    
    <label class="label label-default" style="font-size:15px;font-weight: bold; margin-left: -15px;" >Các bài viết được xem nhiều nhất</label>

    <div class="row">
      <br>
      <div class="col-sm-3" style="height: 300px;">
        <a href="/data/bai_bao_id_5">
          <img src="_layouts/picture/10-chot-1552226412310964579765.jpg" class="img-responsive" style="width:100%" alt="Image">
        </a>
        <div style="height:40px;">
          <label tyle="font-size:15px;font-weight:bold;"><a href ="/data/bai_bao_id_5">Phải có cà phê đặc sản!</a></label>
        </div>
        <div style="height:100px; overflow:hidden;">
          <p style="font-size:13px;">Phát triển cà phê đặc sản giúp khai thác phân khúc thị trường mới, đa dạng hóa mặt hàng, góp phần nâng cao chất lượng chung của cà phê Việt...</p>
        </div>
        <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">11/03/2019 - 07:32 AM | Kinh tế - Nông nghiệp</label>
      </div>
      
      <div class="col-sm-3" style="height: 300px;">
        <a href="/data/bai_bao_id_6">
          <img src="_layouts/picture/Viet_Nam_nhap_sieu_dac_san_co_canh_chan_ga.jpg" class="img-responsive" style="width:100%" alt="Image">
        </a>
        <div style="height:40px;">
          <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_6">Việt Nam nhập siêu 'đặc sản'... cổ, cánh, chân gà</a></label>
        </div>
        <div style="height:100px; overflow:hidden;">
          <p style="font-size:13px;">Mỗi năm, Việt Nam xuất khẩu 8.000-9.000 tấn sản phẩm thịt gia cầm, nhưng nhập khẩu khối lượng gấp hơn 10 lần như vậy. Điều đó cho thấy thị trường trong nước cho chăn nuôi gà, vịt là rất lớn...</p>
        </div>
        <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">15/04/2019 - 20:54 PM | Kinh tế - Nông nghiệp</label>
      </div>

      <div class="col-sm-3" style="height: 300px;">
        <a href="/data/bai_bao_id_7">
          <img src="_layouts/picture/ca_tang_noi_an_toan.jpg" class="img-responsive" style="width:100%" alt="Image">
        </a>
        <div style="height:40px;">
          <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_7">Cá tầng nổi “an toàn”, người tiêu dùng vẫn “né tránh” hải sản</a></label>
        </div>
        <div style="height:100px; overflow:hidden;">
          <p style="font-size:13px;">Gần một tuần sau kết luận của Bộ Y tế về độ an toàn của các loại hải sản, nhiều chợ đầu mối ở Quảng Trị đã bắt đầu bày bán trở lại sản phẩm đánh bắt từ biển, song người tiêu dùng vẫn còn “né tránh”...</p>
        </div>
        <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">25/09/2016 - 16:55 PM | Kinh tế - Hải sản</label>
      </div>

      <div class="col-sm-3" style="height: 300px;">
        <a href="/data/bai_bao_id_8">
          <img src="_layouts/picture/3-chot-3-gia-lua-1550677465612863735864.jpg" class="img-responsive" style="width:100%" alt="Image">
        </a>
        <div style="height:40px;">
          <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_8">Gỡ khó cho xuất khẩu gạo</a></label>
        </div>
        <div style="height:100px; overflow:hidden;">
          <p style="font-size:13px;">Các thị trường nhập khẩu gạo Việt Nam đang chững lại hoặc đòi hỏi khắt khe hơn khiến giá lúa tại ĐBSCL sụt giảm. Nhà nước kêu gọi thu mua tạm trữ cho dân nhưng doanh nghiệp đều than thiếu vốn...</p>
        </div>
        <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">21/02/2019 - 07:55 AM | Kinh tế - Nông nghiệp</label>
      </div>
      </div>  
    </div>
  </div>
  <br>
  <div class="container text-left">    
      <div class="row">
        <div class="col-sm-2" style="height:370px">
          <a href="/data/bai_bao_id_9">
            <img src="_layouts/picture/trai-cay1-1545293091412481473302.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_9">"Vua chuối" Võ Quan Huy than khó đưa hàng vào siêu thị Việt</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">(NLĐO) – Quy mô thị trường thực phẩm tươi sống như rau củ quả, thịt cá,… của Việt Nam mỗi năm ước tính có giá trị 27 tỉ USD và đang tiếp tục tăng trưởng...</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">20/12/2018 - 15:41 PM | Kinh tế - Nông nghiệp</label>
        </div>

        <div class="col-sm-2" style="height: 370px">
          <a href="/data/bai_bao_id_10">
            <img src="_layouts/picture/11-chot-15352906721252145019515.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_10">Trung Quốc ngày càng kén chọn nông sản</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">Trung Quốc tăng nhập khẩu nông sản nhưng đòi hỏi cao về chất lượng, truy xuất nguồn gốc...</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">27/08/2018 - 07:01 AM | Kinh tế - Nông nghiệp</label>
        </div>

        <div class="col-sm-2" style="height: 370px">
          <a href="/data/bai_bao_id_11">
            <img src="_layouts/picture/images2100329_HAISANNN.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_11">Nhộn nhịp thị trường hải sản</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">(Báo Quảng Ngãi)- Còn một tháng nữa là đến Tết Nguyên đán, nhu cầu tiêu dùng các loại hải sản đang tăng mạnh so với ngày thường. Thị trường hải sản vì thế cũng trở nên nhộn nhịp, sôi động hơn....</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">24/01/2018 - 21:37 PM | Kinh tế - Hải sản</label>
        </div>

        <div class="col-sm-2" style="height: 370px">
          <a href="/data/bai_bao_id_12">
            <img src="_layouts/picture/images2097768_1T17.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_12">Khai thác hải sản bằng "công nghệ cao"</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">(Báo Quảng Ngãi)- Trong năm 2017, nhiều ngư dân trong tỉnh đóng mới tàu cá công suất lớn, ứng dụng các thiết bị công nghệ cao trong khai thác hải sản. Tàu cá hiện đại đã giúp ngư dân dễ dàng chinh phục những ngư trường rộng lớn, mang lại hiệu quả kinh tế cao....</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">05/01/2018 - 14:14 PM | Kinh tế - Hải sản</label>
        </div>

        <div class="col-sm-2" style="height: 370px">
          <a href="/data/bai_bao_id_13">
            <img src="_layouts/picture/1-15301651319416684777.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label syle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_13">180 gian hàng tham gia Hội chợ Triển lãm Nông nghiệp quốc tế lần thứ 18</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">(NLĐO)- AgroViet là hoạt động xúc tiến thương mại nhằm thúc đẩy hoạt động xúc tiến thương mại, làm cầu nối giữa doanh nghiệp và người tiêu dùng...</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">28/06/2018 - 12:58 PM | Kinh tế - Nông nghiệp</label>
        </div>

        <div class="col-sm-2" style="height: 370px">
          <a href="/data/bai_bao_id_14">
            <img src="_layouts/picture/images2087463_KHAITACTRAIP.jpg" class="img-responsive" style="width:100%" alt="Image">
          </a>
          <div style="height:80px;">
            <label tyle="font-size:15px;font-weight:bold;"><a href="/data/bai_bao_id_14">Nỗ lực ngăn chặn tàu cá khai thác hải sản trái phép</a></label>
          </div>
          <div style="height:200px; overflow:hidden;">
            <p style="font-size:13px;">(Báo Quảng Ngãi)- Năm 2016 và nửa đầu năm 2017, tình hình tàu cá ở tỉnh ta ra vùng biển nước ngoài khai thác hải sản trái phép có chiều hướng gia tăng. Số lượng phương tiện, ngư dân bị nước ngoài bắt, xử lý tăng đột biến...</p>
          </div>
          <label style="font-size:9px;font-weight:bold; bottom: 2px; position: absolute;">20/12/2018 - 15:41 | Kinh tế - Hải sản</label>
        </div>    
      </div>
    </div>
    <br>

<div class="container text-left">
  <hr>
  <div class = "row">
      <label class="label label-default" style="font-size:15px;font-weight: bold;" >Các bài viết mới nhất</label>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_6">
        <img src="_layouts/picture/Viet_Nam_nhap_sieu_dac_san_co_canh_chan_ga.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_6">Việt Nam nhập siêu 'đặc sản'... cổ, cánh, chân gà</a></label>
        <p style="font-size:13px;">Mỗi năm, Việt Nam xuất khẩu 8.000-9.000 tấn sản phẩm thịt gia cầm, nhưng nhập khẩu khối lượng gấp hơn 10 lần như vậy. Điều đó cho thấy thị trường trong nước cho chăn nuôi gà, vịt là rất lớn...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">15/04/2019 - 20:54 PM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_15">
        <img src="_layouts/picture/Muon_ban_dua_hau_phai_co_dan_tem_trung_quoc.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_15">Muốn bán dưa hấu phải... dán tem có chữ Trung Quốc?</a></label>
        <p style="font-size:13px;">Nhiều tấn dưa hấu phải dán tem có chữ Trung Quốc mới được chất lên xe xuất bán...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">15/04/2019 - 19:55 PM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_16">
        <img src="_layouts/picture/hai_san_online_phong_cach_moi_an_toan_va_tien_loi.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top;"><a href="/data/bai_bao_id_16">Hải sản online – phong cách mới an toàn và tiện lợi</a></label>
        <p style="font-size:13px;">Ngồi ở nhà vẫn thưởng thức được nhiều hải sản vùng biển tươi ngon và thanh toán tiền trực tiếp. Vì vậy, dịch vụ giao hải sản tận nhà đang khiến nhiều người tiêu dùng phát sốt tin vào mức độ tươi sống – sạch – an toàn và chất lượng...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">22/06/2018 - 10:00 AM | Kinh tế - Hải sản</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_7">
        <img src="_layouts/picture/ca_tang_noi_an_toan.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_7">Cá tầng nổi “an toàn”, người tiêu dùng vẫn “né tránh” hải sản</a></label>
        <p style="font-size:13px;">Gần một tuần sau kết luận của Bộ Y tế về độ an toàn của các loại hải sản, nhiều chợ đầu mối ở Quảng Trị đã bắt đầu bày bán trở lại sản phẩm đánh bắt từ biển, song người tiêu dùng vẫn còn “né tránh”, sức mua vẫn hạn chế...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">25/09/2016 - 16:55 PM | Kinh tế - Hải sản</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_17">
        <img src="_layouts/picture/hai-dau-thu-tien-trieu.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_17">Mùa thu hoạch dâu, nông dân Hà Nội kiếm tiền triệu mỗi ngày</a></label>
        <p style="font-size:13px;">Dâu tằm ở ngoại thành Hà Nội hiện đang vào mùa thu hoạch. Dâu chín hái đến đâu được thương lái mua buôn tại gốc, nông dân bán dâu thu nhập tiền triệu mỗi ngày...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">15/04/2019 - 21:26 PM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_18">
        <img src="_layouts/picture/ca-tra.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_18">Giá cá tra tại Đồng bằng sông Cửu Long "đảo chiều"</a></label>
        <p style="font-size:13px;">Theo Bộ Nông nghiệp và Phát triển Nông thôn, năm 2018, ngành hàng cá tra đã đột phá lớn, thắng lợi trọn vẹn từ nuôi, thu mua, chế biến xuất khẩu, nâng cao chất lượng, giá cả tăng vọt, thị trường mở rộng. Nhưng từ đầu năm đến nay, giá cá tra đảo chiều, liên tục giảm đụng sàn, có nguy cơ "sập sàn"...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">12/04/2019 - 09:09 AM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_19">
        <img src="_layouts/picture/chuyengianoigisaukhuyencaokhongnenanhaisantangday.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_19">Chuyên gia nói gì sau khuyến cáo “không nên ăn hải sản tầng đáy”?</a></label>
        <p style="font-size:13px;">“Tôi thấy khuyến cáo, cảnh báo như thế là rất tốt. Những thông tin khoa học có ảnh hưởng đến đời sống, sức khỏe, tính mạng con người thì Nhà nước cần thông báo kịp thời cho người dân” - PGS.TSKH Nguyễn Tác An - Phó Chủ tịch Hội Khoa học Kỹ thuật Biển Việt Nam, nguyên Viện trưởng Viện Hải dương học Nha Trang chia sẻ với PV Dân trí...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">22/09/2016 - 00:09 AM | Kinh tế - Hải sản</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_20">
        <img src="_layouts/picture/dt20-9ca2-1474377862238.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_20">Dân hoang mang sau khuyến cáo "không sử dụng một số loại hải sản"</a></label>
        <p style="font-size:13px;">“Sau khi Bộ Y tế công bố phát hiện 132/1.040 mẫu hải sản của 4 tỉnh miền Trung có Phenol, bao gồm: ghẹ, tôm, tôm tít, ốc, mực, cá đuối, các đục, bạch tuộc, cua đá sống ở tầng đáy trong vòng 20 hải lý, ngư dân đánh bắt gần bờ và người tiêu dùng vô cùng hoang mang, lo lắng...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">21/09/2016 - 07:22 AM | Kinh tế - Hải sản</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_21">
        <img src="_layouts/picture/gia-thit-heo-hoi-dien-bien.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_21">Giá heo hơi vẫn khó lường</a></label>
        <p style="font-size:13px;">Dịch tả heo châu Phi (ASF) cơ bản được khống chế, giá heo hơi nhiều nơi đã tăng trở lại. Tuy nhiên xu hướng giá trong thời gian tới như thế nào, những người trong ngành lại có ý kiến rất khác nhau...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">15/04/2019 - 09:16 AM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <a href="/data/bai_bao_id_22">
        <img src="_layouts/picture/gia-nong-san-1.jpg" class="img-responsive" style="width: 100%" alt="Image">
      </a>
    </div>
    <div class="col-sm-9" style="height:150px;">
        <label style="font-size:15px;vertical-align:top; ;"><a href="/data/bai_bao_id_22">Giá tiêu, điều, gạo, cà phê cùng lao dốc</a></label>
        <p style="font-size:13px;">Kết thúc quý 1/2019, hàng loạt nông sản xuất khẩu chủ lực lao dốc làm cho giá trị xuất khẩu tăng trưởng âm sau nhiều năm...</p>
        <label style="font-size:14px;font-weight:bold;bottom:15px;position: absolute;">10/04/2019 - 21:08 PM | Kinh tế - Nông nghiệp</label>
    </div>
  </div>
  <hr>
</div>