body {
  background: #999;
  margin: 0;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li{
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  background: #222222;
}
ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 5px;
  border : 1px;
  border-radius: 5px 5px 0px 0px;
}
ul li:hover{
  background: #cccccc;
  color: white;
  border : 1px;
  border-radius: 5px 5px 0px 0px;
}

ul li ul{
  padding: 0;
  position: absolute;
  left: 0;
  width: 250px;
  display: none;
  visibility: hidden;
}
ul li ul li{
  background: #cccccc;
  display: block;
  height: 30px;
  font-size: 20px;
  padding: 5px;

}
ul li ul li:hover{
  background: #4dd0e1;
}
ul li:hover ul{
  display: block;
  opacity: 1;
  visibility: visible;
}
ul ul ul li {
  display: none;
}
ul ul li:hover li{
  display: block;
}
ul ul ul{
  left: 100%;
  top: 0;
}

#selected_box_search{
  margin: 10px;
  width: 70%;
  background-color: DodgerBlue;
  color: white;
  border: 1px solid transparent;
  height: 40px;
  border-radius: 10px;
}