.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
background-color: #f1f1f1;
height: 100%;
}
    
/* Set black background color, white text and some padding */
footer {
background-color: #555;
color: white;
padding: 15px;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    row.content {height: auto;} 
}

#category ul{
    list-style: none;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    width:25%;
}

#category ul li span{
    padding: 0px 0px 0px 10px;
    background: blue;
    width: 100%;
    display: block;
    border : 1px solid black;
    border-radius: 5px;
}

#category ul li a{
    color: white;
}

#category ul li ul {
    padding: 0px 0px 0px 15px;
    width: 100%
}

#category ul li ul li{
    margin: 3px;
    padding: 0px 0px 0px 10px;
    background: #00CCFF;
    border : 1px solid black;
    border-radius: 5px;
}

body {
    background: #999;
    margin: 0;
}
  
.my-text-danger{
  color: red !important;
}

.my-is-invalid-bottom {
  border-bottom: 1px solid red !important;
}

.my-is-invalid {
  border: 1px solid red !important;
}

  
#selected_box_search{
    margin: 10px;
    width: 70%;
    background-color: DodgerBlue;
    color: white;
    border: 1px solid transparent;
    height: 40px;
    border-radius: 10px;
}